.game__top {
  padding: 0 2vw 2vw 2vw;

  display: flex;
  justify-content: space-between;
  min-height: 20vh;

  &-foundation {
    display: flex;
  }
}

.game__bottom {
  display: flex;
  justify-content: space-between;
  height: 60vh;
  padding: 0 2vw;
}
