@import '../../main.scss';

.card {
  position: relative;
  width: 7.9vw;
  height: 11.8vw;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1vw;
  font-size: 1.2vw;

  transition: $general-transition;
  background: $white-color;

  &__content {
    padding: 0.3vw;
  }

  &__suite {
    position: absolute;
    text-align: left;
    top: 1vw;
    left: 0vw;
  }
  &__suite-right {
    text-align: left;
    position: relative;
    transform: rotate(180deg);
    position: absolute;
    right: 0vw;
    bottom: 1vw;
  }
  &__rank {
    text-align: left;
    position: absolute;
    top: 0vw;
    left: 0vw;

    &-right {
      text-align: left;
      position: absolute;
      transform: rotate(180deg);
      right: 0vw;
      bottom: 0vw;
    }
  }

  &__down,
  &__stockcards {
    background: url('../../assets/card_back.png') $white-color;
    color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    margin-bottom: -8.5vw;
    & > .card__content {
      visibility: hidden;
    }
  }

  &__stockcards {
    margin-bottom: 0;
    margin-right: 1vw;

    &-empty {
      background: none;
    }
  }

  &__selected {
    border: 1px solid $red-color;
    box-shadow: 0px 11px 9px 3px rgba(0, 0, 0, 0.658) !important;
    transform: scale(1.05);
    &:hover {
      box-shadow: 0px 11px 9px 3px rgba(0, 0, 0, 0.658) !important;
    }
  }

  &__stack {
    margin-bottom: -10.6vw;
    @include screenSize('xlarge') {
      margin-bottom: -8vw;
    }
  }
}
.spade {
  background: url('../../assets/spade.png');
  background-color: $white-color;
  color: $black-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.card-faceup:hover {
  box-shadow: 0px 0px 5px 5px rgba(182, 194, 18, 0.46);
}
