@import '../../main.scss';

.cardholder {
  width: 7.9vw;
  height: 11.8vw;
  border: 2px solid $blue-color;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 0.8rem;
  margin: 0 0.5rem;
}
