/* Local imports  */
@import './scss/reset';
@import './scss/mixin';

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Press+Start+2P&family=Satisfy&display=swap'); /* Variables */
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Press Start 2P', cursive;
$title-font: 'Satisfy', cursive;

$white-color: hsl(0, 0%, 90%);
$black-color: hsl(0, 0%, 5%);
$red-color: hsl(0, 100%, 34%);
$blue-color: hsl(214, 100%, 28%);

$general-transition: all 0.3s;

:root {
  font-size: 10px;
}

body {
  background: rgb(34, 138, 37);
  background: radial-gradient(
    circle,
    rgba(34, 138, 37, 1) 0%,
    rgba(34, 138, 37, 1) 35%,
    rgba(33, 57, 34, 1) 100%
  );
  font-family: $primary-font;
}

h1 {
  letter-spacing: 0.6rem;
  font-size: 2vw;
  font-family: $title-font;
}
